.link-plain, .link-plain:focus, .link-plain:hover, .link-plain:visited {
    color: inherit;
    text-decoration: inherit;
    box-shadow: none;
}

.goal-item:hover {
    opacity: 0.75;
}


.task-item {
    background-color: blue;
}

.task-item:hover {
    background-color: green;
}

.task-item.task-item-inactive {
    text-decoration: line-through;
    background-color: grey;
}